<!DOCTYPE html>

<html>
<head runat="server">
<meta charset="utf-8">
<title>Email Notification</title>
<link href="styles/main.css" rel="stylesheet" type="text/css">
<!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.--><script>var __adobewebfontsappname__ = "dreamweaver"</script><script src="http://use.edgefonts.net/source-sans-pro:n2,n6:default.js" type="text/javascript"></script>
</head>

<body>
<div id="wrapper">
  <header id="top">
    <h1>Insta Charity</h1>
    <nav id="mainnav">
      <ul>
        <li><a href="OrganizationHome.aspx">Home</a></li>
        <li><a href="#">Our Mission</a></li>
        <li><a href="OrganizationEvent.aspx">Events</a></li>
        <li><a href="Emailrequest.cshtml">Email Service</a></li>
      </ul>
      <p>&nbsp;</p>
    </nav>
  </header>
    <h2 style="text-align:center">Event Notification for Donor</h2>
  <form method="post" action="ProcessRequest.cshtml">
    <div style="text-align:center">
        Donor's name:
        <input type="text" name="customerName" />
    </div>

    <div style="text-align:center">
        Donor's email address:
        <input type="text" name="customerEmail" />
    </div>

    <div style="text-align:center">
        Event Details <br />
        <textarea name="customerRequest" cols="45" rows="4"></textarea>
    </div>

    <div style="text-align:center">
        <input type="submit" value="Submit" />
    </div>
  </form>
</div>
</body>
</html>