<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AseConnectionString" connectionString="Data Source=.\SqlExpress;Initial Catalog=Ase;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://vhost0221.site1.compute.ihost.com/aspnet_client/ASEWebservice/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap"/>
      <endpoint address="http://vhost0221.site1.compute.ihost.com/aspnet_client/ASEWebservice/WebService.asmx" binding="customBinding" bindingConfiguration="WebServiceSoap12" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap12"/>
    </client>
  </system.serviceModel>
</configuration>