<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebserviceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vhost1135.site1.compute.ihost.com/aspnet_client/Registration%20updated/Webservice.asmx" binding="basicHttpBinding" bindingConfiguration="WebserviceSoap" contract="ServiceReference1.WebserviceSoap" name="WebserviceSoap"/>
    </client>
  </system.serviceModel>
</configuration>