<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  
  
  <system.web>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="csPROJECT" applicationName="ASEProject"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="csPROJECT" applicationName="ASEProject"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="csPROJECT" applicationName="ASEProject"/>
      </providers>
    </roleManager>


    


      <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebserviceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebserviceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://vhost1135.site1.compute.ihost.com/aspnet_client/Registration/Webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebserviceSoap"
        contract="ServiceReference1.WebserviceSoap" name="WebserviceSoap" />
      <endpoint address="http://vhost1135.site1.compute.ihost.com/aspnet_client/Registration/Webservice.asmx"
        binding="customBinding" bindingConfiguration="WebserviceSoap12"
        contract="ServiceReference1.WebserviceSoap" name="WebserviceSoap12" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="csPROJECT" connectionString="Data Source=PROJECT;Initial Catalog=AspMembership;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="administrator@aspdotnet-suresh.com">
        <network host="100.33.1.1" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>